# openocd setup

telnet_port 4444
gdb_port 3333

source [find interface/jlink.cfg]
transport select swd

source [find target/stm32f4x.cfg]

reset_config srst_only srst_nogate

gdb_memory_map enable

# write image and restart target
proc program () {
	init
	reset init
	halt
	flash write_image target/STM32M4RTOS.elf 0x08000000
	reset run
	shutdown
}

# reset target and attach to debug
proc attach () {
	init
	reset run
}

